* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
img {
    border-radius: 50%;
}
body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed';
    font-size: 1rem;
}
/* css grid container */
.container {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    grid-template-areas: 
    "A A B E"
    "C D D E";
    gap: 2em;
    align-content: center;
    /* padding: 0em; */
    scale: 0.9;

    color: white;
 
}
/* general grid boxes styles */
[class*="box-"] {
    padding: 1.5em;
    border-radius: .5em;
    box-shadow: .8em .8em hsl(0, 0%, 81%) .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}
  /* general image, name styles */
  .flexed {
    display: flex;
    align-items: center;
  }
  .flexed > div {
    margin: 1em 1em;
  }
  .flexed > div > .transparent {
    opacity: 50%;
  }
  .transparent {
    opacity: 70%;
  }
  /* grid boxes styles and colors */
.box-1 {
    grid-area: A;
    background-color: hsl(263, 55%, 52%);
}
.box-2 {
    grid-area: B;
    background-color: hsl(217, 19%, 35%);
}
.box-3 {
    grid-area: C;
    background-color: hsl(0, 0%, 100%);
    color: black;
}
.box-4 {
    grid-area: D;
    background-color: hsl(219, 29%, 14%);
}
.box-5 {
    grid-area: E;
    background-color: hsl(0, 0%, 100%);
    color: black;
}
/* styles for mobile */
@media only screen and (max-width: 760px) {
    .container {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
        margin:10vh 8% 0 8%;
        scale: 1;
    }
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }